<!-- TOP APP BAR -->
<header class="app-header">
  <div class="flex items-center gap-md flex-1">
    <div class="search-box">
      <span class="material-symbols-outlined text-gray-400">search</span>
      <input
        class="border-none focus:ring-0 bg-transparent text-[13px] w-full"
        placeholder="Search..."
        type="text"
      />
    </div>
  </div>
  <div class="header-actions">
    <button class="header-btn">
      <span class="material-symbols-outlined">light_mode</span>
    </button>
    <button class="header-btn">
      <span class="material-symbols-outlined">translate</span>
    </button>
    <button class="header-btn relative">
      <span class="material-symbols-outlined">mail</span>
      <span class="header-badge">4</span>
    </button>
    <button class="header-btn relative">
      <span class="material-symbols-outlined">notifications</span>
      <span class="header-badge">1</span>
    </button>
    <div class="header-avatar">
      <img
        class="w-full h-full object-cover"
        src="https://lh3.googleusercontent.com/aida-public/AB6AXuDTxW-SCaflPUu4H3RECGfkedzcsDUB9rh1rL0GOvCHLfi1RhU9z10Big4Cr14T8cMhgc6PYv-8kDUZsZU-XxCanQHYCQFL4cUf0VhUe1Aq--yTqxPPZQ5xARa4O9PQBR0ZubUdRIvnoTRSWKk3KYzp-esBnkeUv4VsiJtet4TDju69z6opAfqWO55Yfw4uw-uW5d-FwUSusVWpdPyH8UaOwwnvzp0bcE-n7HZCgsUMy62ukNEmHlUGKzylXL4EO6N2v1ss22aVaz8"
      />
    </div>
  </div>
</header>
