<!-- SIDEBAR -->
<aside class="sidebar">
  <div class="sidebar-brand">
    <div class="sidebar-logo">B</div>
    <h1 class="sidebar-title">rutalism</h1>
  </div>
  <nav class="sidebar-nav">
    <a
      class="sidebar-link {% if page == 'index' %}active{% endif %}"
      href="/index.html"
    >
      <span class="material-symbols-outlined">dashboard</span>
      <span class="text-sm font-medium">Dashboard</span>
    </a>
    <a
      class="sidebar-link {% if page == 'cards' %}active{% endif %}"
      href="/cards.html"
    >
      <span class="material-symbols-outlined">grid_view</span>
      <span class="text-sm font-medium">Card</span>
    </a>
    <a
      class="sidebar-link {% if page == 'texts' %}active{% endif %}"
      href="/texts.html"
    >
      <span class="material-symbols-outlined">text_fields</span>
      <span class="text-sm font-medium">Typography</span>
    </a>
    <a
      class="sidebar-link {% if page == 'buttons' %}active{% endif %}"
      href="/buttons.html"
    >
      <span class="material-symbols-outlined">smart_button</span>
      <span class="text-sm font-medium">Button</span>
    </a>
    <a
      class="sidebar-link {% if page == 'tables' %}active{% endif %}"
      href="/tables.html"
    >
      <span class="material-symbols-outlined">table_chart</span>
      <span class="text-sm font-medium">Table</span>
    </a>
    <a
      class="sidebar-link {% if page == 'badges' %}active{% endif %}"
      href="/badges.html"
    >
      <span class="material-symbols-outlined">label</span>
      <span class="text-sm font-medium">Badge</span>
    </a>
    <a
      class="sidebar-link {% if page == 'dropdowns' %}active{% endif %}"
      href="/dropdowns.html"
    >
      <span class="material-symbols-outlined">arrow_drop_down_circle</span>
      <span class="text-sm font-medium">Dropdown</span>
    </a>
    <a
      class="sidebar-link {% if page == 'list-groups' %}active{% endif %}"
      href="/list-groups.html"
    >
      <span class="material-symbols-outlined">view_list</span>
      <span class="text-sm font-medium">List Group</span>
    </a>
    <a
      class="sidebar-link {% if page == 'progress' %}active{% endif %}"
      href="/progress.html"
    >
      <span class="material-symbols-outlined">percentage</span>
      <span class="text-sm font-medium">Progress</span>
    </a>
    <a
      class="sidebar-link {% if page == 'tabs' %}active{% endif %}"
      href="/tabs.html"
    >
      <span class="material-symbols-outlined">tab</span>
      <span class="text-sm font-medium">Tab</span>
    </a>
    <a
      class="sidebar-link {% if page == 'toasts' %}active{% endif %}"
      href="/toasts.html"
    >
      <span class="material-symbols-outlined">chat_bubble</span>
      <span class="text-sm font-medium">Toast</span>
    </a>
    <a
      class="sidebar-link {% if page == 'alerts' %}active{% endif %}"
      href="/alerts.html"
    >
      <span class="material-symbols-outlined">warning_amber</span>
      <span class="text-sm font-medium">Alert</span>
    </a>
    <a
      class="sidebar-link {% if page == 'forms' %}active{% endif %}"
      href="/forms.html"
    >
      <span class="material-symbols-outlined">edit_note</span>
      <span class="text-sm font-medium">Form</span>
    </a>
    <a
      class="sidebar-link {% if page == 'wizard' %}active{% endif %}"
      href="/wizard.html"
    >
      <span class="material-symbols-outlined">linear_scale</span>
      <span class="text-sm font-medium">Form Wizard</span>
    </a>
    <a
      class="sidebar-link {% if page == 'datatables' %}active{% endif %}"
      href="/datatables.html"
    >
      <span class="material-symbols-outlined">table_chart</span>
      <span class="text-sm font-medium">DataTables</span>
    </a>
    <a
      class="sidebar-link {% if page == 'modals' %}active{% endif %}"
      href="/modals.html"
    >
      <span class="material-symbols-outlined">web_asset</span>
      <span class="text-sm font-medium">Modals</span>
    </a>
  </nav>
</aside>
